<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<filter>
  	<filter-name>fruit</filter-name>
  	<filter-class>cn.jbit.pb.tangcco.command.filter.UserInSession</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>fruit</filter-name>
  	<url-pattern>*.action</url-pattern>
  </filter-mapping>
	
	
	<filter>
		<filter-name>niuxufei</filter-name>
		<filter-class>cn.jbit.pb.tangcco.command.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>niuxufei</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>DoListFruitServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.fruit.web.DoListFruitServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoDetailDepotnumServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.depotnum.web.DoDetailDepotnumServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoAddDepotnumServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.depotnum.web.DoAddDepotnumServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoListDepotnumServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.depotnum.web.DoListDepotnumServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ToAddDepotnumServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.depotnum.web.ToAddDepotnumServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ToUpdateDepotnumServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.depotnum.web.ToUpdateDepotnumServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoUpdateDepotnumServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.depotnum.web.DoUpdateDepotnumServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoDeleteDepotnumServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.depotnum.web.DoDeleteDepotnumServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ToTopServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.tuser.web.ToTopServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ToLeftServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.tuser.web.ToLeftServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ToRightServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.tuser.web.ToRightServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoLoginServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.tuser.web.DoLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoExitSystemServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.tuser.web.DoExitSystemServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ToAddFruitServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.fruit.web.ToAddFruitServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoAddFruitServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.fruit.web.DoAddFruitServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoDetailFruitServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.fruit.web.DoDetailFruitServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoAddOriginServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.origin.web.DoAddOriginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoDeleteOriginServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.origin.web.DoDeleteOriginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoDetailOriginServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.origin.web.DoDetailOriginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoListOriginServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.origin.web.DoListOriginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoUpdateOriginServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.origin.web.DoUpdateOriginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ToAddOriginServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.origin.web.ToAddOriginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ToUpdateOriginServlet</servlet-name>
		<servlet-class>cn.jbit.pb.tangcco.origin.web.ToUpdateOriginServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>DoAddPriceServlet</servlet-name>
    <servlet-class>cn.jbit.pb.tangcco.price.web.DoAddPriceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoDeletePriceServlet</servlet-name>
    <servlet-class>cn.jbit.pb.tangcco.price.web.DoDeletePriceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoDetailPriceServlet</servlet-name>
    <servlet-class>cn.jbit.pb.tangcco.price.web.DoDetailPriceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoListPriceServlet</servlet-name>
    <servlet-class>cn.jbit.pb.tangcco.price.web.DoListPriceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoUpdatePriceServlet</servlet-name>
    <servlet-class>cn.jbit.pb.tangcco.price.web.DoUpdatePriceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ToAddPriceServlet</servlet-name>
    <servlet-class>cn.jbit.pb.tangcco.price.web.ToAddPriceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ToUpdatePriceServlet</servlet-name>
    <servlet-class>cn.jbit.pb.tangcco.price.web.ToUpdatePriceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ToUpdateFruitServlet</servlet-name>
    <servlet-class>cn.jbit.pb.tangcco.fruit.web.ToUpdateFruitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoUpdateFruitServlet</servlet-name>
    <servlet-class>cn.jbit.pb.tangcco.fruit.web.DoUpdateFruitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoDeleteFruitServlet</servlet-name>
    <servlet-class>cn.jbit.pb.tangcco.fruit.web.DoDeleteFruitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoAddUserServlet</servlet-name>
    <servlet-class>cn.jbit.pb.tangcco.tuser.web.DoAddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ToAddUserServlet</servlet-name>
    <servlet-class>cn.jbit.pb.tangcco.tuser.web.ToAddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ToRight1Servlet</servlet-name>
    <servlet-class>cn.jbit.pb.tangcco.tuser.web.ToRight1Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ToRight2Servlet</servlet-name>
    <servlet-class>cn.jbit.pb.tangcco.tuser.web.ToRight2Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxLoginServlet</servlet-name>
    <servlet-class>cn.jbit.pb.tangcco.tuser.web.AjaxLoginServlet</servlet-class>
  </servlet>



























	<servlet-mapping>
		<servlet-name>DoListFruitServlet</servlet-name>
		<url-pattern>/doListFruit.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoDetailDepotnumServlet</servlet-name>
		<url-pattern>/doDetailDepotnum.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoAddDepotnumServlet</servlet-name>
		<url-pattern>/doAddDepotnum.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoListDepotnumServlet</servlet-name>
		<url-pattern>/doListDepotnum.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ToAddDepotnumServlet</servlet-name>
		<url-pattern>/toAddDepotnum.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ToUpdateDepotnumServlet</servlet-name>
		<url-pattern>/toUpdateDepotnum.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoUpdateDepotnumServlet</servlet-name>
		<url-pattern>/doUpdateDepotnum.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoDeleteDepotnumServlet</servlet-name>
		<url-pattern>/doDeleteDepotnum.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ToTopServlet</servlet-name>
		<url-pattern>/toTop.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ToLeftServlet</servlet-name>
		<url-pattern>/toLeft.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ToRightServlet</servlet-name>
		<url-pattern>/toRight.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoLoginServlet</servlet-name>
		<url-pattern>/doLogin.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoExitSystemServlet</servlet-name>
		<url-pattern>/doExitSystem.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ToAddFruitServlet</servlet-name>
		<url-pattern>/toAddFruit.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoAddFruitServlet</servlet-name>
		<url-pattern>/doAddFruit.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoDetailFruitServlet</servlet-name>
		<url-pattern>/doDetailFruit.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoAddOriginServlet</servlet-name>
		<url-pattern>/doAddOrigin.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoDeleteOriginServlet</servlet-name>
		<url-pattern>/doDeleteOrigin.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoDetailOriginServlet</servlet-name>
		<url-pattern>/doDetailOrigin.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoListOriginServlet</servlet-name>
		<url-pattern>/doListOrigin.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoUpdateOriginServlet</servlet-name>
		<url-pattern>/doUpdateOrigin.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ToAddOriginServlet</servlet-name>
		<url-pattern>/toAddOrigin.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ToUpdateOriginServlet</servlet-name>
		<url-pattern>/toUpdateOrigin.action</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoAddPriceServlet</servlet-name>
    <url-pattern>/doAddPrice.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoDeletePriceServlet</servlet-name>
    <url-pattern>/doDeletePrice.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoDetailPriceServlet</servlet-name>
    <url-pattern>/doDetailPrice.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoListPriceServlet</servlet-name>
    <url-pattern>/doListPrice.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoUpdatePriceServlet</servlet-name>
    <url-pattern>/doUpdatePrice.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToAddPriceServlet</servlet-name>
    <url-pattern>/ToAddPrice.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToUpdatePriceServlet</servlet-name>
    <url-pattern>/toUpdatePrice.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToUpdateFruitServlet</servlet-name>
    <url-pattern>/toUpdateFruit.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoUpdateFruitServlet</servlet-name>
    <url-pattern>/doUpdateFruit.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoDeleteFruitServlet</servlet-name>
    <url-pattern>/doDeleteFruit.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoAddUserServlet</servlet-name>
    <url-pattern>/doAddUser.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToAddUserServlet</servlet-name>
    <url-pattern>/toAddUser.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToRight1Servlet</servlet-name>
    <url-pattern>/toRight1.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToRight2Servlet</servlet-name>
    <url-pattern>/toRight2.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxLoginServlet</servlet-name>
    <url-pattern>/ajaxLogin.action</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
	
